<div class="container-fluid">
  <div class="row">
    <div class="footer-top-area">
      <div class="zigzag-bottom"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <div class="footer-about-us">
              <h2>My<span>Event</span></h2>
              <p>
                MyEvent makes it easy to organize your events in a simple and efficient way. With our platform, you can manage guests, coordinate activities and much more. We are committed to offering you the best tools to make each event a success. Contact us for more information or support.
              </p>
              <div class="footer-social">
                <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>  <!-- TODO: Add social media links -->
                <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href="#" target="_blank"><i class="fa fa-youtube"></i></a>
                <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-md-3 col-sm-6">
            <div class="footer-menu">
              <h2 class="footer-wid-title">User Navigation</h2>
              <ul>
                <li><a href="">My account</a></li>
                <li><a href="">Event history</a></li>
                <li><a href="">Wishlist</a></li>
                <li><a href="">Vendor contact</a></li>
                <li><a href="">Front page</a></li>
              </ul>
            </div>
          </div>

          <div class="col-md-3 col-sm-6">
            <div class="footer-menu">
              <h2 class="footer-wid-title">Categories</h2>
              <ul>
                <li><a href="">Concerts</a></li>
                <li><a href="">Clubs</a></li>
                <li><a href="">Events</a></li>
                <li><a href="">Shows</a></li>
                <li><a href="">YourEvents</a></li>
              </ul>
            </div>
          </div>

          <div class="col-md-3 col-sm-6">
            <div class="footer-newsletter">
              <h2 class="footer-wid-title">Newsletter</h2>
              <p>
                Sign up to our newsletter and get exclusive deals you wont find
                anywhere else straight to your inbox!
              </p>
              <div class="newsletter-form">
                <input type="email" placeholder="Type your email" />
                <input type="submit" value="Subscribe" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom-area">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div class="copyright">
              <p>
                &copy; 2024 MyEvent - UPC. All Rights Reserved. 
                <a href="#" target="_blank">OpenSource - Grupo 2</a>
              </p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="footer-card-icon">
              <i class="fa fa-cc-discover"></i>
              <i class="fa fa-cc-mastercard"></i>
              <i class="fa fa-cc-paypal"></i>
              <i class="fa fa-cc-visa"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
