<div class="header">
  <div class="header-inner">
    <nav class="new-events-parent">
      <div class="new-events">🔥 New Events</div>
      <div class="contact-link-wrapper">
        <div class="contact-link">
          <div class="categories">Categories</div>
          <div class="caret-down-wrapper">
            <img
              class="caret-down-icon"
              alt=""
              src="./public/caret-down.svg"
            />
          </div>
        </div>
      </div>
      <div class="frame-wrapper">
        <div class="services-parent">
          <div class="services">Services</div>
          <div class="caret-down-container">
            <img
              class="caret-down-icon1"
              alt=""
              src="./public/caret-down.svg"
            />
          </div>
        </div>
      </div>
      <div class="contact-us-wrapper">
        <div class="contact-us">Contact Us</div>
      </div>
    </nav>
  </div>
  <div class="search-parent">
    <img
      class="search-icon"
      loading="lazy"
      alt=""
      src="./public/search.svg"
    />

    <div class="user-wrapper">
      <img
        class="user-icon"
        loading="lazy"
        alt=""
        src="./public/user.svg"
      />
    </div>
  </div>
</div>
